[(#REM) noisette ajax pour fournir une liste de mots 
       l'autocompletion jQuery UI autocomplete
 
      parametre
      - term :    lettre cherchee
 
]#HTTP_HEADER{Content-Type: text/plain; charset=#CHARSET}




<BOUCLE_mots (MOTS) {titre like %#ENV{term}%} {par titre} {","} {0,10} >
    <ul id="recherche-list">
    <li onClick="selectRecherche('#TITRE')"> #TITRE </li>
   </ul>
</BOUCLE_mots>

