#CACHE{0}
<div class="cartouche">
    <h1>Liste des acad&eacute;miciens pour lesquels Canal Acad&eacute;mie propose une &eacute;mission : </h1><div class="bar4"></div>
</div>

<div class="sect_titre">
	Effectuer une recherche alphabétique :
</div></br></br>

<a name="haut"></a>

<div style="height: 1720px;">

	<div  style='text-align:center; border: 0px solid #eee; display:inline-block; margin-left: 300px;'>
		<?php
			/*
				Code Ascii MAJ = [A - Z] <=> [65 - 90]
				Code Ascii min = [a - z] <=> [97 - 122]
				Diff entre equivalence MAJ <=> min = 32;
			*/
			$rech = $_GET['rech'];
			$repgrey   = "../sitespip3/squelettes/images/academiciens/lettrines3/grey/"; //lettrines grises
			$repred    = "../sitespip3/squelettes/images/academiciens/lettrines3/red/"; //lettrines rouges
			$extension = ".png"; //... ;-)
			
			
			//echo "<div style='width:560px; margin:auto; text-align:center; border: 0px solid #eee; '>\n";
					for($i = 65; $i <= 90; $i++){
					
					   $maj = chr($i); //Caractère majuscule
					   $min = chr($i + 32); //Caractère minuscule
					   
					   $image_grise = $repgrey.$maj.$extension;
					   $image_rouge = $repred.$maj.$extension;
					   
					   echo "<a href='?page=recherche&recherche=".$min."'>"; 
						
						$img  = "<img class='lettrine' ";
						
							if($rech == $min)
								$img .= "src='".$image_rouge."' ";//Si la recherche est sur cette lettre, elle apprait en rouge
							else {
								$img .= "src='".$image_grise."' "; //Par défaut toutes les lettres sont grises
								$img .= "onmouseover ='this.src=\"".$image_rouge."\"' "; //rollover in
								$img .= "onmouseout ='this.src=\"".$image_grise."\"' "; //rollover out
								
							}
								
						$img .= " alt='".$maj."' title='".$maj."'/>";
						
						echo $img;
							
					   echo "</a>\n";
					}
		?>
	</div>
	<br/>

	<div style='margin:20px auto; width:550px; border:0px solid #eee '>
                            <table style="color:#555; width:100%; border:0px solid #eee">
		
		 <?php
                                    $tempcon = mysql_connect('62.210.16.15:12046','canalac_migr','dzeb7n4c');
                                    mysql_select_db("canalac_migration", $tempcon);
                                    $q = "SELECT descriptif, GROUP_CONCAT(type SEPARATOR ', ') montype  FROM spip_mots WHERE id_groupe IN(5,6,7,8,9,14) AND descriptif like'".(empty($_GET['rech'])?404:$_GET['rech'])."%' GROUP BY descriptif ";
                                    $r = mysql_query($q) or die(mysql_error());
                                    while($e = mysql_fetch_object($r)){
                                            echo  " <tr><td class='pp' valign='top' style='text-align:left; padding-left:0'><a class='spip_in fa' href='/+-".$e->url_propre.".html'><span class='texte'>".str_replace(' ','&nbsp;',trim($e->descriptif))."</span></a>&nbsp;&nbsp;</td>";
                                            echo  " <td valign='top' align='left'>".$e->montype."</td></tr>";
                                            }
                                    mysql_close($tempcon);
                            ?>

		
		
		</table>
		<br/>
		<!--<img src="/squelettes/images/academiciens/liner.png" style="border:0; width:466px; margin:auto;display:block;" />-->
	</div>

	<br/>

	<div class="sect_titre">
		Effectuer une recherche par Académie :
	</div>

	<div class="block_academie" id="bar1" >
		<div class="block_fleche_gauche" id="fg1" onclick="Flip(1);">
			<div class="block_fleche_droite" id="fd1">
				<div class="block_academie_titre" >
					Académie française
				</div>
			</div>
		</div>
		<div class="block_academie_content" id="content1">
			<div class="fondphoto">
				<div  class="liste bleudroit">
					<BOUCLE_mots_academ1(MOTS) {id_groupe=9} {par descriptif} {1/2}>
				   <a href="#URL_MOT" class="aca_mot_lien"><span class="texte">#TITRE</span></a><br/>
					</BOUCLE_mots_academ1>
						
					
				</div>
				
				<div class="liste">
					<BOUCLE_mots_academ11(MOTS) {id_groupe=9} {par descriptif} {2/2}>
					<a href="#URL_MOT" class="aca_mot_lien"><span class="texte">#TITRE</span></a><br/>
					</BOUCLE_mots_academ11>
						
					
				</div>
				<div style="clear:both">&nbsp;</div>
			</div>
		</div>
	</div>



	<div class="block_academie" id="bar2" >
		<div class="block_fleche_gauche" id="fg2" onclick="Flip(2);">
			<div class="block_fleche_droite" id="fd2">
				<div class="block_academie_titre" >
					Académie des inscriptions et belles-lettres
				</div>
			</div>
		</div>
		<div class="block_academie_content" id="content2">
			<div class="fondphoto">
			   <div  class="liste bleudroit">
					<BOUCLE_mots_academ2(MOTS) {id_groupe=6} {par descriptif} {1/2}>
				   <a href="#URL_MOT" class="aca_mot_lien"><span class="texte">#TITRE</span></a><br/>
					</BOUCLE_mots_academ2>
			   </div>
				<div  class="liste">
					<BOUCLE_mots_academ22(MOTS) {id_groupe=6} {par descriptif} {2/2}>
					<a href="#URL_MOT" class="aca_mot_lien"><span class="texte">#TITRE</span></a><br/>
					</BOUCLE_mots_academ22>
				</div>
				<div style="clear:both">&nbsp;</div>
			</div>
		</div>
	</div>


	<div class="block_academie" id="bar3" >
		<div class="block_fleche_gauche" id="fg3" onclick="Flip(3);">
			<div class="block_fleche_droite" id="fd3">
				<div class="block_academie_titre" >
					Académie des sciences
				</div>
			</div>
		</div>
		<div class="block_academie_content" id="content3">
			<div class="fondphoto">
				<div  class="liste bleudroit">
					<BOUCLE_mots_academ3(MOTS) {id_groupe=8} {par descriptif} {1/2}>
				   <a href="#URL_MOT" class="aca_mot_lien"><span class="texte">#TITRE</span></a><br/>
					</BOUCLE_mots_academ3>
				</div>
				<div  class="liste">
					<BOUCLE_mots_academ33(MOTS) {id_groupe=8} {par descriptif} {2/2}>
					<a href="#URL_MOT" class="aca_mot_lien"><span class="texte">#TITRE</span></a><br/>
					</BOUCLE_mots_academ33>
				</div>
				<div style="clear:both">&nbsp;</div>
			</div>
		</div>
	</div>


	<div class="block_academie" id="bar4" >
		<div class="block_fleche_gauche" id="fg4" onclick="Flip(4);">
			<div class="block_fleche_droite" id="fd4">
				<div class="block_academie_titre" >
					Académie des beaux-arts
				</div>
			</div>
		</div>
		<div class="block_academie_content" id="content4">
			<div class="fondphoto">
				<div  class="liste bleudroit">
					<BOUCLE_mots_academ4(MOTS) {id_groupe=7} {par descriptif} {1/2}>
				   <a href="#URL_MOT" class="aca_mot_lien"><span class="texte">#TITRE</span></a><br/>
					</BOUCLE_mots_academ4>
				</div>
				<div  class="liste">
					<BOUCLE_mots_academ44(MOTS) {id_groupe=7} {par descriptif} {2/2}>
					<a href="#URL_MOT" class="aca_mot_lien"><span class="texte">#TITRE</span></a><br/>
					</BOUCLE_mots_academ44>
				</div>
				<div style="clear:both">&nbsp;</div>
			</div>
		</div>
	</div>


	<div class="block_academie" id="bar5" >
		<div class="block_fleche_gauche" id="fg5" onclick="Flip(5);">
			<div class="block_fleche_droite" id="fd5">
				<div class="block_academie_titre" >
					Académie des sciences morales et politiques
				</div>
			</div>
		</div>
		<div class="block_academie_content" id="content5">
			<div class="fondphoto">
				<div  class="liste bleudroit">
					<BOUCLE_mots_academ5(MOTS) {id_groupe=5} {par descriptif} {1/2}>
					<a href="#URL_MOT" class="aca_mot_lien"><span class="texte">#TITRE</span></a><br/>
					</BOUCLE_mots_academ5>
				</div>
				<div  class="liste">
					<BOUCLE_mots_academ55(MOTS) {id_groupe=5} {par descriptif} {2/2}>
					<a href="#URL_MOT" class="aca_mot_lien"><span class="texte">#TITRE</span></a><br/>
					</BOUCLE_mots_academ55>
				</div>
				<div style="clear:both">&nbsp;</div>
			</div>
		</div>
	</div>

	<div class="block_academie" id="bar7" >
		<div class="block_fleche_gauche" id="fg7" onclick="Flip(7);">
			<div class="block_fleche_droite" id="fd7">
				<div class="block_academie_titre" >
				   Correspondants de l’Institut de France
				</div>
			</div>
		</div>
		<div class="block_academie_content" id="content7">
			<div class="fondphoto">
				<div  class="liste bleudroit">
					<BOUCLE_mots_academ7(MOTS) {id_groupe=3} {par descriptif} {1/2}>
					<a href="#URL_MOT" class="aca_mot_lien"><span class="texte">#TITRE</span></a><br/>
					</BOUCLE_mots_academ7>
				</div>
				<div  class="liste">
					<BOUCLE_mots_academ77(MOTS) {id_groupe=3} {par descriptif} {2/2}>
					<a href="#URL_MOT" class="aca_mot_lien"><span class="texte">#TITRE</span></a><br/>
					</BOUCLE_mots_academ77>
				</div>
				<div style="clear:both">&nbsp;</div>
			</div>
		</div>
	</div>

	<br/>
		<!--<img src="/squelettes/images/academiciens/liner.png" style="border:0; width:466px; margin:auto;display:block;" />-->
	<br/>
	<div class="block_academie" id="bar6" >
		<div class="block_fleche_gauche" id="fg6" onclick="Flip(6);">
			<div class="block_fleche_droite" id="fd6">
				<div class="block_academie_titre" >
					Acad&eacute;miciens, professeurs au Coll&egrave;ge de France
				</div>
			</div>
		</div>
		<div class="block_academie_content" id="content6">
			<div class="fondphoto">
				<div  class="liste bleudroit">
					<BOUCLE_mots_academ6(MOTS) {id_groupe=14} {par descriptif} {1/2}>
					<a href="#URL_MOT" class="aca_mot_lien"><span class="texte">#TITRE</span></a><br/>
					</BOUCLE_mots_academ6>
				</div>
				<div  class="liste">
					<BOUCLE_mots_academ66(MOTS) {id_groupe=14} {par descriptif} {2/2}>
				   <a href="#URL_MOT" class="aca_mot_lien"><span class="texte">#TITRE</span></a><br/>
					</BOUCLE_mots_academ66>
				</div>
				<div style="clear:both">&nbsp;</div>
			</div>
		</div>
	</div>
</div>


