<li class='editer editer_texte saisie_texte obligatoire[ (#ENV*{erreurs}|table_valeur{texte}|oui)erreur]'>
<label for="contact_texte"> </label>
[<span class="erreur_message">(#ENV*{erreurs}|table_valeur{texte})</span>]
<textarea name="texte" id="contact_texte" rows="8" style="height:300px;"cols="60"[ class="(#CONFIG{contact/barre,no_barre})"] style="height:300px;">#ENV{texte}</textarea>
</li>