<li class='editer editer_mail saisie_mail obligatoire[ (#ENV*{erreurs}|table_valeur{mail}|oui)erreur]'>
<label for="mail">Courriel <strong style="color: red;">*</strong></label>
[<span class="erreur_message">(#ENV*{erreurs}|table_valeur{mail})</span>]
<input type="text" class="text" name="mail" id="mail" value="#ENV{mail}" size="30" />
</li>