#CACHE{0}
<?php
    $id_article = '#ID_ARTICLE';
    $id_adherent = (int)$_SESSION['club']['id'];
    $max_note = 5;
    
   
    
    if(!empty($id_article)) {
        //on va chercher la note de l'emission
        $query_note = 'SELECT COUNT(*) total, FORMAT(AVG(note), 1) note FROM club_votes WHERE id_article=' . mysql_real_escape_string($id_article) . ' LIMIT 1 ';
        $res_note = mysql_query($query_note);
        $enr_note = mysql_fetch_object($res_note);
        $note = $enr_note->note;
        $total = $enr_note->total;
        mysql_free_result($res_note);
    }
    
?>
<div id="conteneur_vote">
	<span id="info_vote">Notez cette émission : </span>
    <?php
        for($i=1; $i<=$max_note; $i++) {
        ?>
        <a href="#" id="vote_<?php echo $i; ?>" class="vote"></a>
    <?php
        }
    ?>
</div>
<div id="remerciements" <?php if($this_id_rubrique === '217'){ ?> style="clear:both" <?php } ?> ></div>
<br/>
<!-- <div id="suivi"></div> -->
<style type="text/css">
    a.vote {float:left; width:16px; height:16px; line-height:16px; font-size:10px; margin:auto 5px auto auto; background:#abc url('#CHEMIN{images/club/notes/etoile-inactive.jpg}') top left no-repeat; color:#abc; text-align:center; text-decoration:none; }
    a.vote_in {background:#4187cd url('#CHEMIN{images/club/notes/etoile-active.jpg}') top left no-repeat; color:#4187cd}
    a.vote_demi {background:#4187cd url('#CHEMIN{images/club/notes/etoile-mi.jpg}') top left no-repeat; color:#4187cd}
    a.vote_out {color:red}
    #conteneur_vote {font-family:verdana, sans-serif; font-size:10px; margin-top:5px; }
    #remerciements {display:block; font-family:verdana, sans-serif; height:16px; line-height:16px; text-align:left;}
	#info_vote{float:left;font-size:11px;line-height:16px;}
</style>
<!--<script type="text/javascript" src="#CHEMIN{js/jquery-1.4.2.js}"></script>-->
<script type="text/javascript">
   var max_note = <?php echo $max_note;?>;
   var note = "<?php echo number_format($note, 1, ',', ''); ?>";
   var total = <?php echo (int)$total; ?>;
    
    function afficher_note(note_act) {
        note_act = note_act + '';
        
        //$("#suivi").text(note_act);
        
        if(note_act == 'undefined' || note_act < 0) {
            return;
        }
        
        note_actuelle = note_act.split(',');
        //note_actuelle[1] == 'undefined'?0:note_actuelle[1];
        //$("#suivi").text('n=' + note_act);
        
        //alert('0 = ' + note_actuelle[0] + "\n" + '1 = ' + note_actuelle[1] );
        
        if(note_actuelle[1]<5 || note_actuelle.length < 2) {
            //On "eteint" toutes les cases supérieures...
            for (var i=note_actuelle[0]; i<=max_note; i++) {
                $("#vote_" + i).removeClass();
                $("#vote_" + i).addClass('vote');
            }
            
            //... On "allume" les cases inférieures 
            for (var i=note_actuelle[0]; i>0; i--) {
                $("#vote_" + i).removeClass();
                $("#vote_" + i).addClass('vote vote_in');
            }
        }
        else {//Affichage de la demi-etoile
            //On "eteint" toutes les cases supérieures en dehors de celle limitrophe car elle sera en demi...
            for (var i=note_actuelle[0]; i<=max_note; i++) {
                $("#vote_" + i).removeClass();
                $("#vote_" + i).addClass('vote');
            }
            
            //... On "allume" les cases inférieures 
            for (var i=note_actuelle[0]; i>0; i--) {
                $("#vote_" + i).removeClass();
                $("#vote_" + i).addClass('vote vote_in');
            }
            
            //on colore le demi
            $("#vote_" + (note_actuelle[0]*1 + 1)).removeClass();
            $("#vote_" + (note_actuelle[0]*1 + 1)).addClass('vote vote_demi');
        }
    }
    
    function afficher_votant(total_actuel) {
         $("#remerciements").hide().text('(moyenne de ' + note + ' pour un total de ' + total_actuel + ' vote' + (total_actuel>1?'s':'') + ')').fadeIn();
    }
    
    function enregistrer_note(note_cliquer) {
        //note = note_cliquer;
        $.ajax({
            url : "#CHEMIN{club/club_xhr_enregistre_vote.php}",
            type: "POST",
            data : {id_article:"<?php echo $id_article;?>", id_adherent:"<?php echo $id_adherent;?>", note : note_cliquer},
            cache : false,
            success : function(data) {
                var result = $.parseJSON(data);
                if(result.erreur) {
                    $("#remerciements").html(result.erreur);
                }
                else if(result.erreur_interval) {
                    alert(result.erreur_interval);
                }
                else {
                    note = result.note_moyenne;
                    total = result.nombre_de_vote;
                    afficher_note(note);
                    afficher_votant(total);
                }
            }
        });
    }
    
    $(function(){
        afficher_note(note);
        afficher_votant(total);
        
        $(".vote").click(function() {
            var id = $(this).attr("id").substring(5,6);
            $(this).blur();
            //enregistre le score en base
            enregistrer_note(id);
        
            //affiche le message de remerciement pour le vote
        
            //appel de la fonction qui affiche la moyenne de vote
            afficher_note(note);
            return false;
        });

        //curseur sur etoile
        $(".vote").live('mouseover', function() {
            var id = $(this).attr("id").substring(5,6) ;
            //on colore toutes les etoiles inférieures
            afficher_note(id);
        });

        $(".vote").live('mouseout', function() {
            afficher_note(note);
        });
        
    });
</script>
