<BOUCLE_current_article (ARTICLES) {id_article}>

		<B_video>
				#ANCRE_PAGINATION
				<div style="position:relative; margin-left:10px; border:0px solid #000; font-family:georgia; font-size:12px;">
						<div style='font-size:16px'><strong>Nos &eacute;missions en vid&eacute;o</strong></div>
						<hr/>
						<div style="border: 1px solid #ededed; height:20px; line-height:20px; font-size:13px; font-weight:bold; text-align:right">#PAGINATION{page}&nbsp;</div>
						<BOUCLE_video (VIDEOS) {par video_date} {inverse} {pagination 4}>
								<div style='float:left; width:280px; border:1px solid #555; margin:10px 45px 10px 45px; background-color:#ededed;'>
										<a href="#" style="display:block; width:280px; height:176px; background:#000;" onclick="[javascript:openVideo('(#VIDEO_NAME)'); ]return false">
												<img src="[http://www.canalacademie.com/squelettes/images/preview_(#VIDEO_NAME|strtoupper).jpg]" alt="cliquez pour voir la vidéo" width="280" height="176" />
										</a>
										<div style='margin:4px; text-align:justify; height:320px; overflow:auto;'>
												<B_texte_video>
												<BOUCLE_texte_video (ARTICLES) {surtitre=#VIDEO_NAME}>
														<p style="font-family:Georgia, sans-serif; margin-bottom:15px"><span class="titre_video" style="font-weight:bold; text-decoration:underline">#TITRE</span></p>
														<p style="font-family:Georgia, sans-serif; margin-bottom:5px;">#CHAPO</p>
														[<p style="font-family:Georgia, sans-serif; font-weight:bold"><a href="(#URL_ARTICLE)">Voir l'article</a></p>]
												</BOUCLE_texte_video>

												</B_texte_video>
														<p style="font-family:Georgia, sans-serif; margin-bottom:15px"><span class="titre_video" style="font-weight:bold; text-decoration:underline">#VIDEO_TITRE</span></p>
														[<p style="font-family:Georgia, sans-serif; margin-bottom:5px;">(#VIDEO_CHAPO|nl2br)</p>]
												<//B_texte_video>
												<table style="width:98%; font-family:Georgia, sans-serif; font-size:12px; text-align:left; margin-top:10px">
														[<tr>
																<td style="width:30%; font-weight:bold; vertical-align:top;">Journaliste</td>
																<td style="width:70%">(#VIDEO_JOURNALISTE)</td>
														</tr>]

														[<tr>
																<td style="width:30%; font-weight:bold; vertical-align:top">Invit&eacute;(s)</td>
																<td style="width:70%">(#VIDEO_INVITE)</td>
														</tr>]
												</table>
										</div>
								</div>
						</BOUCLE_video>
						<div style='clear:both'>&nbsp;</div>
						<div style="border: 1px solid #ededed; height:20px; line-height:20px; font-size:13px; font-weight:bold; text-align:right">#PAGINATION{page}&nbsp;</div>
				</div>
		</B_video>



		<script type="text/javascript">

				var videoPopup = null;
				function openVideo(mavideo){
				var pWidth = 500;
				var pHeight= 302;
				// var popvideo_url = "/squelettes/popvideo.php?video="+ mavideo;
				var popvideo_url = "/squelettes/streamPhp/video.php?file="+ mavideo + '.flv';
				var params = "scrollbars=no, status=no, resizable=no, hotkeys=no, alwaysRaised=yes, z-lock=true, dependent=yes ";
				params += " , width="+ pWidth;
				params += " , height="+ pHeight;
				y = ((screen.height-pHeight)/2) +',';
				x = ((screen.width-pWidth)/2);
				params += " , left="+ x;
				params += " , top="+ y;
				videoPopup = window.open(popvideo_url, "videoPopup", params);
				videoPopup.focus();

				}
		</script>
</BOUCLE_current_article>
