<style type="text/css">
.todo { opacity: 0.5; }
.todo:hover { opacity: 1; }
</style>
<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

<form method="post" action="#ENV{action}"><div>
	#ACTION_FORMULAIRE{#ENV{action}}
	<fieldset>
		<legend>MyIsam</legend>
		<ul>
			<li class="comments_fil[ (#ENV**{erreurs}|table_valeur{comments_fil}|oui)erreur]">
				<label for="nom_base">Nom de la base de donn&eacute;es</label>
				<input type="text" name="db_name" id="nom_base" value="#ENV{db_name}" />
			</li>
			<li>
				<p class="explication">
					 Mettre sous la forme table:champ,table:champ
				</p>
				<label for="key_base">Cl&eacute;s Fulltext</label>
				<textarea name="db_keys" id="key_base">#ENV{db_keys}</textarea>
			</li>
		</ul>
	</fieldset>
	<fieldset id="comments-permalien">
		<legend>Javascript</legend>
		<ul>
			<li>
				<p class="explication">
					Champ d&eacute;clencheur des suggestions
				</p>
				<label for="suggest_selecteur">S&eacute;lecteur CSS</label>
				<input type="text" name="suggest_selecteur" id="suggest_selecteur" value="#ENV{suggest_selecteur, #recherche}" />
			</li>
			<li>
				<p class="explication">
					Formulaire (pour le submit)
				</p>
				<label for="suggest_form">S&eacute;lecteur CSS</label>
				<input type="text" name="suggest_form" id="suggest_form" value="#ENV{suggest_form, #formulaire_recherche form}" />
			</li>
			<li>
				<p class="explication">
					Champ o&ugrave; afficher les suggestions
				</p>
				<label for="suggest_selecteur_affichage">S&eacute;lecteur CSS</label>
				<input type="text" name="suggest_selecteur_affichage" id="suggest_selecteur_affichage" value="#ENV{suggest_selecteur_affichage, #recherche}" />
			</li>
			<li>
				<p class="explication">
					Comment classer les r&eacute;sultats ?
				</p>
				<label>Type de classement</label>
				<div class="choix">
					<label for="suggest_classement_1">Par nom</label>
					<input type="radio" name="suggest_classement" id="suggest_classement_1" value="nom"[ checked="checked"(#ENV{suggest_classement, nom}|=={nom})] />
					<label for="suggest_classement_2">Par popularit&eacute;</label>
					<input type="radio" name="suggest_classement" id="suggest_classement_2" value="popularite"[ checked="checked"(#ENV{suggest_classement, nom}|=={popularite})] />
				</div>
			</li>
		</ul>
	</fieldset>
	<p class="boutons">
		<input type="submit" name="enregistrer" class="submit" value="<:bouton_valider:>" />
	</p>
</div></form>
</div>