<div class="formulaire_spip formulaire_mot_de_passe">
[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
[(#ENV*{editable}|?{' '})
<form id="oubli_form" action="[(#ENV{action})]" method="post">
	[(#REM) activer le traitement auto et dispatch sur charger/verifier/traiter]
	#ACTION_FORMULAIRE
	<fieldset>
		<legend><:pass_nouveau_pass:></legend>
		<div class="editer-groupe">
			<div class="editer saisie_oubli obligatoire[ (#ENV*{erreurs}|table_valeur{oubli}|oui)erreur]">
				<label for="oubli"><:pass_choix_pass:></label>
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{oubli})</span>]
				<input type='password' class='text' name='oubli' id='oubli' value="#ENV**{oubli}" autocapitalize="off" autocorrect="off" />
			</div>
			<div class="editer saisie_oubli_confirm obligatoire[ (#ENV*{erreurs}|table_valeur{oubli_confirm}|oui)erreur]">
				<label for="oubli_confirm"><:info_confirmer_passe:></label>
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{oubli_confirm})</span>]
				<input type='password' class='text' name='oubli_confirm' id='oubli_confirm' value="#ENV**{oubli_confirm}" autocapitalize="off" autocorrect="off" />
			</div>
		</div>
	</fieldset>
	[(#REM) Piege a robots spammeurs ]
	<p style="display: none;">
		<label for="nobot"><:antispam_champ_vide:></label>
		<input type="text" class="text" name="nobot" id="nobot" value="#ENV{nobot}" size="10" />
	</p>
	<p class="boutons"><input type="submit" class="submit" value="<:pass_ok:>" /></p>
</form>
]
</div>