<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


<div class="formulaire_spip formulaire_recherche[ (#ENV{class})]" id="formulaire_recherche">
<form action="[(#ENV{action})]" method="get"><div class="editer-groupe">
	[(#ENV{action}|form_hidden)]
	[<input type="hidden" name="lang" value="(#ENV{lang})" />]
      
         <input type="[(#HTML5|?{search,text})]" class="recherche" size="10" name="recherche" id="recherche"[ value="(#ENV{recherche})"] accesskey="4" 
        <i class="material-icons">search</i>
        <input type="submit" class="submit" value="&gt;&gt;" title="<:info_rechercher:>" />
        <div id="suggesstion-box"></div>
</div></form>
</div>
<script type="text/javascript">

    
    $(document).ready(function(){
    $("#recherche").keyup(function(){
        $.ajax({
        type: "POST",
        url: "spip.php?page=autocomplete",
        data:'term='+$(this).val(),
        success: function(data){
            $("#suggesstion-box").show();
            $("#suggesstion-box").html(data);
            $("#recherche").css("background","#5391c2");
        }
        });
    });
}); 
function selectRecherche(val) {
    $("#recherche").val(val);
    $("#suggesstion-box").hide();
}
</script>
