/* --------------------------------------------------------------

   layout.css
   Disposition des blocs principaux
   cf.: http://romy.tetue.net/structure-html-de-base

-------------------------------------------------------------- */

/* Elements principaux
------------------------------------------ */
body { text-align: center; background:#ddd;}
.page { position: relative;  text-align: left;  max-width: 100%; height: 1695px;}
.header {}

.footer { clear: both; padding: 1em 0 0;  border-top:1px solid #999; }

/* largeur calculee du wrapper: 960*70%  = 672px */
.wrapper { clear: both; overflow: hidden; }
.content {     
    /* margin-left: 40px; */
    /* margin-top: 40px; */
    
    width: 100%;
height: 100%;}
/* largeur calculee du aside: 672px / 3 = 224px = 23.333 %*/
.milieu {     clear: both;
    overflow: hidden;}
.aside { float: right; width: 23.333%; overflow: hidden; }    
  
/* Entete et barre de navigation
------------------------------------------ */
.header {   vertical-align: middle; }
.header .spip_logo_site {     }
.header .spip_logo_site,
.header .spip_logo_site a,
.header .spip_logo_site a:hover { background: transparent; text-decoration:none;   }
/*.header .spip_logo_site a  { }*/
.header .spip_logo_site a:hover img {opacity:0.7;}
.header .spip_logo {margin-bottom:0;}
.header #slogan {  }

.formulaire_menu_lang { position: absolute; right: 0; top: .9em; display: block; width: 30%; }

.nav {}
.nav li {display:inline;}
.nav li a {/* display: inline-block; padding: 0.25em 0.5em; margin: 0 0.25em 0.5em 0;border-radius: 0.25em;*/  text-decoration: none;  /*background: #f0f0f0; color: #db1762;*/ }
.nav li.on a { /*background:#c41558; color:#fff;*/ font-weight: normal; }
.nav li a:focus,
.nav li a:hover,
.nav li a:active { /*background: #c41558; color:#fff; */}
.circle { margin:10px;
    width:35px;
    background:#2876B3;
    height:35px;
    text-align:center;
    color: #60baff;
    border-radius:100px;
    padding-top: 11px;
    font-size: 13px;
 }
 
 .titre {
     color:#2876b3;
     font-size: 20px;
     font-family: "mr-eaves-xl-modern",sans-serif;
     text-transform: uppercase;
     font-weight: bold;
     margin-left: 30px;
 }



.footer .colophon {  height: 40px; /*float: left; width: 70%; margin: 0;*/  }
.footer .generator { float: right; }
.footer .generator a { padding: 0; background: none; }

/* Gabarit d'impression
------------------------------------------ */
@media print {
    .page,
    .wrapper,
    .content { width: auto; }
    .nav,
    .arbo,
    .aside,
    .footer { display: none; }
}

/* Affichage sur petits ecrans  
Cf.: http://www.alsacreations.com/astuce/lire/1177
------------------------------------------ */

/* largeur maximum 767px */
@media (max-width: 767px) {
	body {   	width: 100%;		padding: 0 20px;	}
	.page {  	width: 100%;  	max-width: none; 	}
}
 
/* largeur maximum 640px */
@media (max-width: 640px) {
     /* layout */
    .wrapper,
    .content,
    .aside { width: 100%;}
    .content,
    .aside { clear: both; float: none; width: 100%; }

    /* Passer a une seule colonne (a appliquer aux elements multi-colonnes) */
    .nav ul li a { float: none; border: 0; }
    .arbo { display: none; }
    .footer .colophon { width: auto; float: none; }
    .footer .generator { display: none; }

    /* header du calendrier full-calendar */
    table.fc-header td { display: block; text-align: left; }

}

/* fin */