.clearfix.header
{
    background-color: #2876b3;
    font-family: "mr-eaves-xl-modern",sans-serif; 
    font-size : 20px;
    width: 100%;
    padding-top: 0.75em;
    padding-bottom:0.75em;
    display : flex!important;
}
.spip_logo_site
{
    margin-left: 30px;
    font-size : 24px;
    font-family: "Georgia regular";
    display : flex;
    margin-top: 0.15em;
}

#formulaire_recherche{
    width : 550px;
    margin: auto;
}
.editorial{
    background-image: url(img/img-bg-edito.jpg) ;
    background-size: 100%;
   height: 100%;
   width: 100%;
   position: initial;
   
}

.glass {
    display: inline-flex;
    width: 100%;
    height: 100%;
    font-family:"acumin-pro-condensed",sans-serif;
    background-size: cover;
    content: ' ';
    opacity: 0.75;
    background-color: white;
}

    



.formulaire_recherche input.submit,.formulaire_recherche label{
    visibility: hidden;
    height: 0px;
    width : 0px;
    display : inline-block;
}
#recherche
{
    background-color: #5391c2;
    text-align : left;
    width: 90%;
}
#recherche.search.text
{
    color : white;
    font-family: "mr-eaves-xl-modern",sans-serif;
    font-size: 15px;
}
#slogan
{
    vertical-align: middle;
    margin-left: 35px;
    color :white;
    font-size: 12px;
    margin-top: 1.25em;
    font-family: "acumin-pro-condensed",sans-serif;
}
.icones
{
    float : left;
    margin-right: 15px;
}

.material-icons

{   margin-left: -1.5em;
    margin-top: 0.25em;
    position: absolute;
    color : #2876b3;
    font-size: 24px;
}
.icone_img
{  
    display: inline;
    cursor :pointer ;
}
.footer.clearfix{
    background: #f5f5f5;
    font-size: 12px;
    
    text-align: center;
    opacity: 0.5;
    font-family: "acumin-pro-condensed",sans-serif;
    font-weight: bold;
    border : none;
    width: 100%;
    
    
}

.colophon
{
    width : 100%;
    margin-top: 0.25em;
}
div.p1{
    color: #c9cc38;
    width: 18px;
    
}
div.p3{
    color:#ff7d79;
    width: 18px;
}
div.p2 {
    width: 52px;
    color:white;
   
    
}
div.p4{
    color: white;
    width: 88px;
       
}

.clearfix.nav
{
    font-family: "mr-eaves-mod-ot",sans-serif;
    width: 20%;
    height: 100%;
    background-color: #60baff;
    Font-Weight: Bold;
    float: left;
    text-align: left;
}

.clearfix.nav ul
{
    background-color: #60baff;
    padding : 15px;
    padding-right: 0px;
    font-size: 8px;

}
.clearfix.nav li
{
    background-color: transparent;
    color : #2876b3;
    display: block;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 10px;
}

.nav-item:hover
{
    background-color: #60baff;
    border : none;
}
.main{
 width: 80%;
 float: right;
 
   
}
tr,td a{
    color: #f5f5f5;
    text-decoration: none;
    font-size:17px;
    
    
}
.nav-item a{
    font-weight: bold;
    font-size:13px;
    text-decoration: none;
    
}
.chers1{
    
    font-weight: lighter;
    color: #040c12;
    font-size:18px;
    text-align: justify;
    float: right;
    width:100%;
    margin-right: 100px;
    line-height: 1.1;
    margin-left: 20px;
   padding-top:50px;
    font-family:"acumin-pro-condensed",sans-serif;
    padding-bottom: 50px;
    
    
    
}
.strong{
    font-weight: 600;
    font-family:"acumin-pro-condensed",sans-serif;
}
.chers{
    width: 300px;
    text-transform: uppercase;
    color: #2876b3;
    text-align: right;
    font-weight: bolder;
    font-family:"acumin-pro-condensed",sans-serif;
    line-height: 1.3;
}
.titre-edit{
    width: 300px;
   text-align: right;
   font-weight: lighter;
   font-size:12px;
   text-transform: uppercase;
   color: #ff7d79;
   line-height: 1.2;
   font-family:"acumin-pro-condensed",sans-serif;
}
.group{
    padding-top: 50px;
    padding-left: 50px;
    
}
.bar1{
    background: #5391c2;
    height: 2px;
    width:  90px;
    color: #5391c2;
    margin-left: 210px;
    margin-top:10px;
    
}
#a_la_une_large{
     position: relative;
    float: left;
    margin:  auto auto auto;
    
    width: 65%;
    font-family:"acumin-pro-condensed",sans-serif;
    overflow: hidden;
    height: 500px;
}
.title{
    text-transform: uppercase;
    color: #2876b3;
    text-align: right;
    font-weight: bolder;
    font-family:"acumin-pro-condensed",sans-serif;
    width: 200px;
    margin-left:85px;
    line-height: 1.3;
}
.h1_home{
    width: 285px;
   text-align: right;
   font-weight: lighter;
   font-size:10px;
   text-transform: uppercase;
   color: #ff7d79;
   line-height: 1.2;
   font-family:"acumin-pro-condensed",sans-serif;
   padding-top: 50px;
  
}
.spip_document_20969.spip_documents.spip_documents_left{
    
}
.font.b.titre{
    background-color: red;
}
.spacer{
     background: #5391c2;
    height: 2px;
    width:  46%;
    color: #5391c2;
    margin-left: 320px;
    margin-top:-90px;
    
}
.texte_plan{
    
}
.sur_club_contenue{
    width: 35%;
    background-color: #8080800d;
   height: 500px;
    float: right;
  
    line-height: 1.1;
    font-family:"acumin-pro-condensed",sans-serif;
}
.emissionsemaine {
        
    background-color: #2876b3;
}
.sur_club_contenue{
    font-size: 14px;
    font-family:"acumin-pro-condensed",sans-serif;
    padding-left: 30px;
    text-align: left;
    padding-right: 140px;
    color: #60baff;
    
}  
.spacer1{
       background: #5391c2;
    height: 2px;
    width:  100%;
    color: #5391c2;
   margin-bottom: 30px;
    margin-top:7px;
}
.h1_club{
     
   text-align: left;
   font-weight: lighter;
   font-size:10px;
   text-transform: uppercase;
   color: #ff7d79;
   line-height: 1.2;
   font-family:"acumin-pro-condensed",sans-serif;
   padding-top: 50px;
}
#emissionsemaine{
    background-color: #2876b3;
    height: auto;
}