/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * mr-eaves-xl-modern:
 *   - http://typekit.com/eulas/00000000000000003b9adbd0
 *   - http://typekit.com/eulas/00000000000000003b9adbd8
 *   - http://typekit.com/eulas/00000000000000003b9adbdb
 *   - http://typekit.com/eulas/00000000000000003b9adbdc
 *
 * © 2009-2018 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2017-12-29 11:08:22 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=blt2qzg&ht=tk&f=28423.28431.28434.28435&a=6582786&app=typekit&e=css");

@font-face {
font-family:"mr-eaves-xl-modern";
src:url("https://use.typekit.net/af/74561b/00000000000000003b9adbd0/27/l?subset_id=1&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/74561b/00000000000000003b9adbd0/27/d?subset_id=1&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/74561b/00000000000000003b9adbd0/27/a?subset_id=1&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"mr-eaves-xl-modern";
src:url("https://use.typekit.net/af/3fb959/00000000000000003b9adbd8/27/l?subset_id=1&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/3fb959/00000000000000003b9adbd8/27/d?subset_id=1&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/3fb959/00000000000000003b9adbd8/27/a?subset_id=1&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"mr-eaves-xl-modern";
src:url("https://use.typekit.net/af/152fd1/00000000000000003b9adbdb/27/l?subset_id=1&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/152fd1/00000000000000003b9adbdb/27/d?subset_id=1&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/152fd1/00000000000000003b9adbdb/27/a?subset_id=1&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"mr-eaves-xl-modern";
src:url("https://use.typekit.net/af/ead397/00000000000000003b9adbdc/27/l?subset_id=1&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/ead397/00000000000000003b9adbdc/27/d?subset_id=1&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/ead397/00000000000000003b9adbdc/27/a?subset_id=1&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

.tk-mr-eaves-xl-modern { font-family: "mr-eaves-xl-modern",sans-serif; }