/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * acumin-pro-condensed:
 *   - http://typekit.com/eulas/00000000000000003b9acb10
 *   - http://typekit.com/eulas/00000000000000003b9acb11
 *   - http://typekit.com/eulas/00000000000000003b9acb0e
 *   - http://typekit.com/eulas/00000000000000003b9acb0f
 *   - http://typekit.com/eulas/00000000000000003b9acb08
 *   - http://typekit.com/eulas/00000000000000003b9acb09
 *   - http://typekit.com/eulas/00000000000000003b9acb06
 *   - http://typekit.com/eulas/00000000000000003b9acb07
 *   - http://typekit.com/eulas/00000000000000003b9acb0a
 *   - http://typekit.com/eulas/00000000000000003b9acb0b
 *   - http://typekit.com/eulas/00000000000000003b9acb0c
 *   - http://typekit.com/eulas/00000000000000003b9acb0d
 *
 * © 2009-2018 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2017-12-29 11:14:14 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=won0jvo&ht=tk&f=25996.25997.25998.25999.26000.26001.26004.26005.26006.26007.26008.26009&a=6582786&app=typekit&e=css");

@font-face {
font-family:"acumin-pro-condensed";
src:url("https://use.typekit.net/af/5cb558/00000000000000003b9acb10/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/5cb558/00000000000000003b9acb10/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/5cb558/00000000000000003b9acb10/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n8&v=3") format("opentype");
font-style:normal;font-weight:800;
}

@font-face {
font-family:"acumin-pro-condensed";
src:url("https://use.typekit.net/af/12b7dd/00000000000000003b9acb11/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i8&v=3") format("woff2"),url("https://use.typekit.net/af/12b7dd/00000000000000003b9acb11/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i8&v=3") format("woff"),url("https://use.typekit.net/af/12b7dd/00000000000000003b9acb11/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i8&v=3") format("opentype");
font-style:italic;font-weight:800;
}

@font-face {
font-family:"acumin-pro-condensed";
src:url("https://use.typekit.net/af/1d3cda/00000000000000003b9acb0e/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/1d3cda/00000000000000003b9acb0e/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/1d3cda/00000000000000003b9acb0e/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"acumin-pro-condensed";
src:url("https://use.typekit.net/af/ba3e73/00000000000000003b9acb0f/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/ba3e73/00000000000000003b9acb0f/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/ba3e73/00000000000000003b9acb0f/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"acumin-pro-condensed";
src:url("https://use.typekit.net/af/3eba4e/00000000000000003b9acb08/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3eba4e/00000000000000003b9acb08/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3eba4e/00000000000000003b9acb08/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"acumin-pro-condensed";
src:url("https://use.typekit.net/af/a47ce2/00000000000000003b9acb09/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/a47ce2/00000000000000003b9acb09/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/a47ce2/00000000000000003b9acb09/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"acumin-pro-condensed";
src:url("https://use.typekit.net/af/ea5607/00000000000000003b9acb06/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/ea5607/00000000000000003b9acb06/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/ea5607/00000000000000003b9acb06/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n3&v=3") format("opentype");
font-style:normal;font-weight:300;
}

@font-face {
font-family:"acumin-pro-condensed";
src:url("https://use.typekit.net/af/28faf6/00000000000000003b9acb07/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/28faf6/00000000000000003b9acb07/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/28faf6/00000000000000003b9acb07/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i3&v=3") format("opentype");
font-style:italic;font-weight:300;
}

@font-face {
font-family:"acumin-pro-condensed";
src:url("https://use.typekit.net/af/57d072/00000000000000003b9acb0a/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/57d072/00000000000000003b9acb0a/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/57d072/00000000000000003b9acb0a/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n5&v=3") format("opentype");
font-style:normal;font-weight:500;
}

@font-face {
font-family:"acumin-pro-condensed";
src:url("https://use.typekit.net/af/d0b6f1/00000000000000003b9acb0b/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/d0b6f1/00000000000000003b9acb0b/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/d0b6f1/00000000000000003b9acb0b/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i5&v=3") format("opentype");
font-style:italic;font-weight:500;
}

@font-face {
font-family:"acumin-pro-condensed";
src:url("https://use.typekit.net/af/8a2bd2/00000000000000003b9acb0c/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/8a2bd2/00000000000000003b9acb0c/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/8a2bd2/00000000000000003b9acb0c/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3") format("opentype");
font-style:normal;font-weight:600;
}

@font-face {
font-family:"acumin-pro-condensed";
src:url("https://use.typekit.net/af/b00f8d/00000000000000003b9acb0d/27/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/b00f8d/00000000000000003b9acb0d/27/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/b00f8d/00000000000000003b9acb0d/27/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=i6&v=3") format("opentype");
font-style:italic;font-weight:600;
}

.tk-acumin-pro-condensed { font-family: "acumin-pro-condensed",sans-serif; }