<h1 class="grostitre"><:info_visiteurs:></h1>

#SET{statuts,#VAL{visiteurs}|auteurs_lister_statuts{0}}
[(#GET{statuts}|count|non)#SET{statuts,#ARRAY{0,zzzz}}]
<B_st>
<div class="onglets_simple clearfix">
	<ul>
		<li>[(#SELF|parametre_url{statut,''}|lien_ou_expose{<:info_tout_afficher:>,[(#ENV{statut,''}|non)],ajax})]</li>
		<BOUCLE_st(POUR){tableau #GET{statuts}}{si #GET{statuts}|count|>{1}}>
		<li>[(#SELF|parametre_url{statut,#VALEUR}|lien_ou_expose{[(#VALEUR|traduire_statut_auteur)],#ENV{statut,''}|=={#VALEUR},ajax})]</li>
		</BOUCLE_st>
	</ul>
</div>
</B_st>

[(#ENV{id_auteur}|oui)
<a href="[(#SELF|parametre_url{id_auteur,''})]"><:icone_tous_visiteur:></a>
]
<div class='nettoyeur'></div>

#SET{filtre,#SESSION{statut}|=={0minirezo}|?{poubelle,'prepa|poubelle|refuse'}|explode{|}}
[(#INCLURE{fond=prive/objets/liste/visiteurs,nb=30,filtre_statut_articles=#GET{filtre},statut=#ENV{statut}|in_any{#GET{statuts}}|?{#ENV{statut},#GET{statuts}},env,ajax}
|sinon{#ENV{recherche}|?{
#VAL{info_recherche_auteur_zero}|_T{#ARRAY{cherche_auteur,#ENV{recherche}}}|wrap{'<h3>'}
}})
]
[(#AUTORISER{creer,auteur})
	[(#URL_ECRIRE{auteur_edit,new=oui}|icone_verticale{<:icone_creer_nouvel_auteur:>,auteur,new,right})]
]
