[(#REM) On peut arriver avec id_article ou id_rubrique. On les réaffecte sur objet, id_objet. ]
[(#ENV{id_article}|oui)[(#VAL{article}|setenv{objet})][(#ENV{id_article}|setenv{id_objet})]]
[(#ENV{id_rubrique}|oui)[(#VAL{rubrique}|setenv{objet})][(#ENV{id_rubrique}|setenv{id_objet})]]

[(#REM) Portfolio : album d'images ]
<B_documents_portfolio>
	<div class="bloc clearfix documents_portfolio" id="documents_portfolio">
		<h2><:medias:info_portfolio:></h2>
		<ul>
			<BOUCLE_documents_portfolio(DOCUMENTS) {objet?}{id_objet?} {mode=document}{extension IN png,jpg,gif} {par rang_lien, num titre, date}{doublons}{vu=non}>[
			<li><a href="(#URL_DOCUMENT)" type="#MIME_TYPE" onclick="location.href='[(#URL_ARTICLE
		  |url_absolue
			|parametre_url{id_document,#ID_DOCUMENT}
			|ancre_url{documents_portfolio}
			)]';return false;"[ class="(#EXPOSER)"][ title="(#TITRE|attribut_html|couper{80})"]>[(#FICHIER
				|image_passe_partout{90,90}
				|image_recadre{90,90}
				|inserer_attribut{class,spip_logo}
				|inserer_attribut{alt,[(#TITRE|attribut_html|couper{80})]})]</a></li>
			]</BOUCLE_documents_portfolio>
		</ul>
	</div><!--#documents_portfolio-->
</B_documents_portfolio>

[(#REM)
	Afficher en grand le document demande dans l'URL
]
<BOUCLE_afficher_document(DOCUMENTS) {id_document}{objet?}{id_objet?} {mode=document}{extension IN png,jpg,gif}>
[(#MODELE{emb,lien=#URL_DOCUMENT}|image_reduire{672,*})]
</BOUCLE_afficher_document>


[(#REM)
	Si un seul document est joint a l'article, et si le texte est vide,
	on incruste automatiquement ce document
]
<BOUCLE_documents_decompte(DOCUMENTS spip_documents_liens articles) {objet?}{id_objet?} {mode=document}{texte=''}{extension !IN gif,jpg,png} {vu=non}>
[(#TOTAL_BOUCLE|=={1}
	|?{[(#INCLURE{fond=modeles/emb, id_document}
	|trim)]})]</BOUCLE_documents_decompte>


[(#REM)
	Sinon, liste des autres documents joints
]
<B_documents_joints>
	<div class="menu documents_joints" id="documents_joints">
		<!--<h2><:medias:titre_documents_joints:></h2>-->
		<ul class="spip">
			<BOUCLE_documents_joints(DOCUMENTS) {objet?}{id_objet?} {extension !IN gif,jpg,png} {vu=non}{par rang_lien, num titre, date}>[
			
				<a href="(#URL_DOCUMENT)" type="#MIME_TYPE" class="spip_doc[ (#EXTENSION|attribut_html)]"><!--<strong class="#EDIT{titre} titre">[(#TITRE|sinon{[(#FICHIER|basename|couper{80})]})]</strong>-->
					<!--<small class="info_document">([<abbr title="<:info_document:> #TYPE_DOCUMENT" class="ext">(#EXTENSION|strtoupper)</abbr> - ][<span>(#TAILLE|taille_en_octets)</span>])</small></a>-->
                                         <i class="material-icons"  style = "color: #CACC3A; font-size: 25px" >&#xE415;</i>
				[<div class="#EDIT{descriptif} descriptif">(#DESCRIPTIF)</div>]
				[<div class="#EDIT{credits} credits">(#CREDITS)</div>]
				]
			</BOUCLE_documents_joints>
		</ul>
	</div><!--#documents_joints-->
</B_documents_joints>

<//B_documents_decompte>
