<div class="clearfix header">
	[(#ENV{home,'non'}|=={oui}|?{
	<h1 class="spip_logo_site">[(#LOGO_SITE_SPIP|image_reduire{224,96})]#NOM_SITE_SPIP</h1>
	,
        <!--href="#URL_SITE_SPIP/"--> <!--remettre ce lien après migration-->
        <strong class="h1 spip_logo_site"><a rel="start home"  href="http://localhost/sitespip3/" title="<:accueil_site:>">[(#LOGO_SITE_SPIP
            |image_reduire{224,96})]#NOM_SITE_SPIP</a></strong>
	})][<p id="slogan">(#SLOGAN_SITE_SPIP)</p>]
        
            <INCLURE{fond=inclure/navsub, id_rubrique} />
            #FORMULAIRE_RECHERCHE
           
            <div class='icones'>
                <div class='icone_img'><a href="https://www.youtube.com/channel/UCt6MDOixXRRhtDeFe9QsIGw">[(#CHEMIN_IMAGE{picto-youtube.jpg}|balise_img)]</a></div>
                <div class='icone_img'><a href="https://www.facebook.com/Canal-Acad%C3%A9mie-124316044256640/">[(#CHEMIN_IMAGE{picto-facebook.jpg}|balise_img)]</a></div>
                <div class='icone_img'><a href="#CHEMIN{abonnement_message.php}">[(#CHEMIN_IMAGE{picto-newsletter.jpg}|balise_img)]</a></div>
                <div class='icone_img'>[(#CHEMIN_IMAGE{picto-compte.jpg}|balise_img)]</div>
            </div>
</div>