 <!--<link rel="stylesheet" href="https://use.typekit.net/blt2qzg.css">
<link rel="stylesheet" href="https://use.typekit.net/won0jvo.css">-->
[<link rel="stylesheet" href="(#CHEMIN{css/icon.css}|direction_css)" type="text/css" />]
<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>-->
    


    <div class="nav clearfix" id="nav">

        <div id="bloc_direct">
            <div id="programme_direct_date">
			<p id="programme_direct_date_gauche">
				a l'écoute actuellement 
			</p>
						
			
		</div>
           
       

                    
                    
                    <video controls="" name="media" style="display: none">
				<source src="http://mmsa.fr:8000/audio" type="audio/mpeg">
			</video>
                         <div class="player"> 
				
				<div class="player-element">
					<button class="player-button player-play" data-action="play"> <i class= "material-icons" style = "color: white;margin-left: -12px; float: left; margin-top: -11px;" >play_arrow </i> </button>
                                </div>

				<div class="player-element">
					<button class="player-button player-volume" data-action="volume-down"> <i class="material-icons" style = "color: white;margin-left: -12px; float: left; margin-top: -11px;" >mic_none</i></button>
                                </div>
      
				<div class="player-element">
					<div class="volume">
						
						<div class="volume-bar">
                                                    <div id="nombreVolume_gauche">0</div>
                                                    <div class="volume-bar_progress" ></div> <div id="nombreVolume">100%</div>
						</div>
					</div>
				</div>
                             
                             
                             
                             
                             
                             
                             
                             
                             
			                <script type="text/javascript">
               var player = document.querySelector('video');
                var playerPlayBtn = document.querySelector('.player-play');
                var playerVolumeBtn = document.querySelector('.player-volume');

                var toggleVolumeButton = function (action) {
                console.log('qsdqsdqsd');
        var i = playerVolumeBtn.querySelector('i');
        console.log(i);
                    if (action == 'volume-down') {
                        
                        i.innerHTML = ('mic_off');
                    } else {
                        
                        i.innerHTML = ('mic_none');
                    }
                }

                playerVolumeBtn.addEventListener('click', function (e) {
                    e.preventDefault();
                    var action = playerVolumeBtn.getAttribute('data-action');
                    toggleVolumeButton(action);
                    if (action == 'volume-down') {
                        playerVolumeBtn.setAttribute('data-action', 'volume-up');
                        player.muted = true;
                    } else {
                        playerVolumeBtn.setAttribute('data-action', 'volume-down');
                        player.muted = false;
                    }
                });

                var togglePlayButton = function (action) {
                     console.log('qsdqsdqsd');
                     
                    var i = playerPlayBtn.querySelector('i');
                    
                   
                    if (action == 'play') {
                    
                        i.innerHTML = ('pause');
                         console.log(i);
                    } else {
                        
                        i.innerHTML = ('play_arrow');
                         console.log(i);
                    }
                }

                playerPlayBtn.addEventListener('click', function (e) {
                    e.preventDefault();
                    var action = playerPlayBtn.getAttribute('data-action');
                    togglePlayButton(action);
                    if (action == 'play') {
                        playerPlayBtn.setAttribute('data-action', 'pause');
                        player.play();
                    } else {
                        playerPlayBtn.setAttribute('data-action', 'play');
                        player.pause();
                    }
                });


                var volumeDiv = document.querySelector('.volume');
                var volumeBar = document.querySelector('.volume-bar');
                var progress = volumeBar.querySelector('.volume-bar_progress');
                var volumeBarWidth = volumeBar.clientWidth;

                // Initialisation du volume
                progress.style.width = (player.volume * volumeBarWidth) + 'px';

                volumeBar.addEventListener('click', function (e) {
                    
                    var xClick = e.offsetX;
                    var volume = (xClick / volumeBarWidth).toFixed(2);
                    progress.style.width = xClick + 'px';
                    player.volume = volume;
                    $('#nombreVolume').html(volume*100 + '%');
                });
                

                volumeDiv.addEventListener('click', function (e) {
                    
                    if (e.offsetX > volumeBarWidth) {
                        progress.style.width = volumeBarWidth + 'px';
                        player.volume = 1;
                    }
                });

            </script> 
                         </div>
            <div class ="bas_radio">
            <BOUCLE_grille123 (rca_grille){type="emission"}{par date_diffusion}{inverse} {0,1}>
                
                <BOUCLE_article_grille (ARTICLES) {id_article=#ID_ARTICLE}>
                    
                        <div class="depuis"></br> </br> Depuis &nbsp; [(#DATE|substr{11})]</div>
                        <div class="titre_radio">
                        <a href="#URL_ARTICLE" style="text-decoration:none">#TITRE </br>  </a>
                        </div>
                        <div class="sous_radio"> [(#SOUSTITRE||couper{61,'...'})] </div> 
                      
                </BOUCLE_article_grille>
            </BOUCLE_grille123> 
            </div>  
            
                  
                    
        </div>          
                    
                 
        <div class="academie">
            <h1 class=" titre">académies</h1>
            <table>	
                <tr><td><div class="circle">Fr</div></td><td><a href="#URL_MOT{1816}">Académie française</a></td></tr>
                <tr><td><div class="circle">IBL</div></td><td><a href="#URL_MOT{1818}">Académie<br/>des Inscriptions et Belles-lettres</a></td></tr>
                <tr><td><div class="circle">Sc</div></td><td><a href="#URL_MOT{1819}">Académie des sciences</a></td></tr>
                <tr><td><div class="circle">BA</div></td><td><a href="#URL_MOT{1817}">Académie des Beaux-Arts</a></td></tr>
                <tr><td><div class="circle">SMP</div></td><td><a href="#URL_MOT{1820}">Académie des Sciences Morales<br/> et Politiques</a></td></tr>
            </table>  
            </br> </br>
        </div> 
        <div class="theme">
            <h1 class=" titre">thèmes</h1>
            <table>	
                <tr><td><div class="circle">Ac</div></td><td><a href="#URL_RUBRIQUE{52}">Académiciens</a></td></tr>
                <tr><td><div class="circle">So</div></td><td><a href="#URL_MOT{546}">Société</a></td></tr>
                <tr><td><div class="circle">Hi</div></td><td><a href="#URL_MOT{912}">Histoire</a></td></tr>
                <tr><td><div class="circle">LLP</div></td><td><a href="#URL_MOT{1814}">Langues, lettres, philosophie</a></td></tr>
                <tr><td><div class="circle">Ar</div></td><td><a href="#URL_MOT{151}">Art</a></td></tr>
                <tr><td><div class="circle">Ec</div></td><td><a href="#URL_MOT{97}">Economie</a></td></tr>
                <tr><td><div class="circle">Sc</div></td><td><a href="#URL_MOT{113}">Sciences</a></td></tr>
                <tr><td><div class="circle">Mo</div></td><td><a href="#URL_MOT{1813}">Monde</a></td></tr>
                <tr><td><div class="circle">Ap</div></td><td><a href="#URL_PAGE{mot-1815}">Apprendre avec...</a></td></tr>
            </table>
            </br>
            <div class="bar"></div></br>
         </div>
         <div class="rub">
			<li><a href="#URL_PAGE{lettre}">Notre lettre d'information</a></li>
			<li><a href="#URL_PAGE{presse}">Dans la presse</a></li>
			<li><a href="#URL_PAGE{Qui_sommes_nous}">Qui sommes-nous</a></li>
			<!-- <li><a href="/Qui-sommes-nous.html">Qui sommes-nous</a></li> --<
			<!-- <li><a href="/Nous-contacter.html">Nous contacter</a></li> -->
			<li><a href="#URL_PAGE{Nous_contacter}">Nous contacter</a></li>
			<li><a href="#URL_PAGE{don}">Faire un don</a></li>
			<li><a href="#URL_ARTICLE{5262}">Liens et partenaires</a></li>
			<li><a href="http://www.an4.fr">L'an IV de Canal Académie</a></li>
		
	</br>
            <div class="bar2"></div></br>
	
			<li><a href="spip.php?page=backend">L'actualité du site (rss)</a></li>
                        <li><a>Balladodiffusion (podcast)</a></li>
			<li><a>Balladodiffusion (autres)</a></li>
			<li><a href="#URL_ARTICLE{5277}">Téléphones mobiles</a></li>
			<li><a >Canal Académie Gadget</a></li>
			<li><a href="#URL_PAGE{academie_tv}">Nos vidéos</a></li>
		
	</br>
            <div class="bar2"></div></br>
	
			<li><a href="#URL_RUBRIQUE{145}">Broadcasts in English</a></li>
			<li><a href="#URL_RUBRIQUE{146}">Sendungen auf Deutsch</a></li>
			<li><a href="#URL_RUBRIQUE{164}">Trasmissioni in Italiano</a></li>
			<li><a href="#URL_RUBRIQUE{169}">Edición en español</a></li>
			
        </br>
            <div class="bar2"></div></br>
	
			<li><a href="http://www.academie-francaise.fr/">Académie française</a></li>
			<li><a href="http://www.academie-sciences.fr/">Académie des sciences</a></li>
			<li><a href="http://www.academie-des-beaux-arts.fr">Académie des beaux-arts</a></li>
			<li><a href="http://www.aibl.fr">Académie des inscriptions et belles-lettres</a></li>
			<li><a href="http://www.asmp.fr">Académie des sciences morales et politiques</a></li>
			<li><a href="http://www.institut-de-france.fr/">Institut de France</a></li>
		 
</div>
                
    </div>
   
