.faire_un_don{
    height: 1850px;
    margin-left: 100px;
    margin-top: 50px;
    font-family:"acumin-pro-condensed",sans-serif;
}
.don{
    color: #2876b3;
    font-family: "acumin-pro-condensed",sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 22px;
        
}
.montant{
    display:inline-flex;
        margin-top: 50px;
        margin-bottom: 50px;
}
.bardon{
        background: #5391c2;
        height: 1px;
        color: #5391c2;
            margin-top: 5px;
            width: 110px;
}
.pqf1don{
    font-weight: bold;
    line-height: 1.4;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}
.comDonner{
    margin-top: 50px;
}
.done input[type=submit]{
   
    padding-top: 10px;
    padding-bottom: 20px;
    border: none;
    vertical-align: bottom;
    cursor: pointer;
    text-transform: uppercase;
    background-color: white;
    color:#c9cc38;
        
}