.volume-bar_progress{    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 120px;
    transition: width 0.3s;
    background: #c9cc38;
    
}
.player{
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
   
    width: 100%;
    height: 20px;
    vertical-align: middle;
    margin: 5px 0;
    margin-left: 20px;
}
.player-title{
    font-size: 0.8em;
}
.live-player.player.player-element {
    display: inline-block;
    padding: 0 5px;
    float: left;
}
.volume {
    display: inline-block;
    
    
}
.volume-bar {
    position: relative;
    display: inline-flex;
    width: 120px;
    height: 14px;
    background-color: #b1b23a;
    border: 1px solid #53ac98;
    margin-top:10px;
    margin-left: 20px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.player-button {
    outline: none;
    width: 30px;
    height: 30px;
    color: #FFF;
    background: #c9cc38;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.live-player
{
    outline: none;
    width: 30px;
    height: 30px;
    color: #FFF;
    background: #c9cc38;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#bloc_direct{
    position: relative;
    overflow: hidden;
    
    width: 100%;
    height: 270px;
    background-color:  #51c9ff;
    
}
#programme_direct_date {
    font-size: 13px;
    height: auto;
    text-transform: uppercase; 
    font-family:"acumin-pro-condensed",sans-serif;
    font-weight: bold;
    color: #2876B3;
    margin: 30px;
        
}
.player-element {
    display: inline-block;
    padding: 0 5px;
    float: left;
}
#nombreVolume{
    color:white;
    font-size: 11px;
    float:left;
    margin-left:125px;
}
#nombreVolume_gauche{
    color:white;
    font-size: 11px;
    margin-left:-10px;
}

