/* --------------------------------------------------

   links.css
   Liens hypertextes
   (c) 2010-2016 Tiny Typo v1.3 - MIT License - tinytypo.tetue.net

----------------------------------------------------- */
/* Hyperliens
[fr] Signalétique des hyperliens : http://letrainde13h37.fr/43/signaletique-hyperliens/ */
a {
  background: transparent;
  color: inherit;
  display : inherit;
}
a:visited {
  color: inherit;     
}  
a:focus {
  outline: thin dotted;
 
  text-shadow: none;
}
a:hover {
  outline: 0;
  cursor: pointer;
  text-decoration:none;
}
a:active {
  outline: 0;
} 
/* a { outline: none; }
[en] http://www.outlinenone.com
[fr] http://www.outlinenone.fr
*/
a:after,
a:before,
a small {
  font-size: 90%;
  opacity: .9;
}
a[hreflang]:after {
  content: "\0000a0[" attr(hreflang) "]";
}
/* Liens externes */
a.spip_out:after,
a.external:after {
  content: "\0000a0\279A";
}
a[hreflang].spip_out:after,
a[hreflang].external:after {
  content: "\0000a0[" attr(hreflang) "]\0000a0\279A";
}
/* mailto / tel */
a.spip_mail:after,
a.mailto:after {
  content: "\0000a0\2709";
}
a.tel:after {
  content: "\0000a0\2706";
}
/* Documents */
a.download:after {
  content: "\0000a0\21A7";
}
a[hreflang].download:after {
  content: "\0000a0[" attr(hreflang) "]\0000a0\21A7";
}
a.audio:after {
  content: "\0000a0\266B";
}
a[hreflang].audio:after {
  content: "\0000a0[" attr(hreflang) "]\0000a0\266B";
}
/* Liens images */
a img {
  border: 0;
}
a:focus img,
a:active img {
  -moz-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -o-transform: translateY(1px);
  -ms-transform: translate(1px);
  transform: translateY(1px);
}
@media print {
  a,
  a:visited {
    text-decoration: underline;
  }
  a:after {
    content: '';
  }
	a.spip_url:after,
  a[rel="external"]:after,
  a.external:after {
    content: " (" attr(href) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: '';
  }
  /* Ne pas montrer les liens sur images ou javascript / liens internes */
}

/* fin */