    .lettrine {border:0; width:20px; height:20px; margin-right:5px; margin-bottom:5px;}
    .block_academie {width:416px; margin:20px auto; background:url(../images/academiciens/ba_bloc.png) no-repeat bottom center; padding-bottom:0px; }
    .block_fleche_gauche {position:relative; display:block; cursor:pointer; background:url(../images/academiciens/fleche_gauche_ferme.jpg) no-repeat top left; padding-left:19px}
    .block_fleche_droite {background:url(../images/academiciens/fleche_droite_ferme.jpg) no-repeat top right; padding-right:19px}
    .block_academie_titre {height:20px; font-size: 15px; background:url(../images/academiciens/bando.jpg) repeat-x; line-height:20px; text-align:center; color:#fff}
    .block_academie_content {background: url(../images/academiciens/repeatBlok.png); display:none;}
    .fondphoto {background: url(../images/academiciens/photo_bloc.png) no-repeat bottom center; height:auto; min-height:521px; _height:521px;}
    .liste {float:left; width:195px; margin:10px auto auto 10px; text-align:left; }
    .bleudroit {border-right:1px solid #4186cb; height:auto; min-height:521px; _height:521px;}
    .aca_mot_lien {color:#555; text-decoration:none}
    .aca_mot_lien:hover {color:#4186cb; text-decoration:underline}
    .sect_titre {width:560px;margin-left: 100px; color: #2876b3;  text-align:justify}
    td.pp {background:url(../images/academiciens/poinpoints.png) repeat-x 25% 25% ; padding-right:15px; border:0px solid #000}
    .fa {float:left; background-color:#fff; margin:0 5px 0 0;}
