.clearfix.header
{
    background-color: #2876b3;
    font-family: "mr-eaves-xl-modern",sans-serif; 
    font-size : 20px;
    width: 100%;
    padding-top: 0.75em;
    padding-bottom:0.75em;
    display : flex!important;
}
.spip_logo_site
{
    margin-left: 30px;
    font-size : 24px;
    font-family: "Georgia regular";
    display : flex;
    margin-top: 0.15em;
}

#formulaire_recherche{
    width : 550px;
    margin: auto;
}
.editorial{
    background-image: url(img/img-bg-edito.jpg) ;
    background-size: 100%;
   height: 650px;
   width: 100%;
   position: initial;
   
}

.glass {
    display: inline-flex;
    width: 100%;
    height: 100%;
    font-family:"acumin-pro-condensed",sans-serif;
    background-size: cover;
    content: ' ';
    opacity: 0.75;
    background-color: white;
}

    



.formulaire_recherche input.submit,.formulaire_recherche label{
    visibility: hidden;
    height: 0px;
    width : 0px;
    display : inline-block;
}
#recherche
{
    background-color: #5391c2;
    text-align : left;
    width: 90%;
    color:whitesmoke;
}
#recherche.search.text
{
    color : white;
    font-family: "mr-eaves-xl-modern",sans-serif;
    font-size: 15px;
}
#slogan
{
    vertical-align: middle;
    margin-left: 30px;
    color :white;
    font-size: 12px;
    margin-top: 0.8em;
    font-family: "acumin-pro-condensed",sans-serif;
}
.icones
{
    float : left;
    margin-right: 15px;
}

.material-icons

{   margin-left: -1.5em;
    margin-top: 0.25em;
    position: absolute;
    color : #2876b3;
    font-size: 24px;
}
.icone_img
{  
    display: inline;
    cursor :pointer ;
}
.footer.clearfix{
    background: #f5f5f5;
    font-size: 12px;
    
    text-align: center;
    opacity: 0.5;
    font-family: "acumin-pro-condensed",sans-serif;
    font-weight: bold;
    border : none;
    width: 100%;
    margin-top: 4px;
    
    
}

.colophon
{
    width : 100%;
    margin-top: 0.25em;
}
div.p1{
    color: #c9cc38;
    width: 13px;
    
}
div.p3{
    color:#ff7d79;
    width: 13px;
    margin-left: -15px;
}
div.p2 {
    width: 52px;
    color:whitesmoke;
   
    
}
div.p4{
    color: whitesmoke;
    width: 88px;
       
}

.clearfix.nav
{
    font-family: "mr-eaves-mod-ot",sans-serif;
    width: 20%;
    height: 1960px;
    background-color: #60baff;
    Font-Weight: Bold;
    float: left;
    text-align: left;
}

.clearfix.nav ul
{
    background-color: #60baff;
    padding : 15px;
    padding-right: 0px;
    font-size: 8px;

}
.clearfix.nav li
{
    background-color: transparent;
    color : #2876b3;
    display: block;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 10px;
}

.nav-item:hover
{
    background-color: #60baff;
    border : none;
}
.main{
 width: 80%;
 float: right;
 
   
}
tr,td a{
    color: #f5f5f5;
    text-decoration: none;
    font-size:14px;
    
    
}
.nav-item a{
    font-weight: bold;
    font-size:13px;
    text-decoration: none;
    
}
.chers1{
    
    font-weight: lighter;
    color: #040c12;
    font-size:18px;
    text-align: justify;
    float: right;
    width:100%;
    margin-right: 100px;
    line-height: 1.1;
    margin-left: 20px;
   padding-top:50px;
    font-family:"acumin-pro-condensed",sans-serif;
    padding-bottom: 50px;
    
    
    
}
.strong{
    font-weight: 600;
    font-family:"acumin-pro-condensed",sans-serif;
}
.chers{
    width: 300px;
    text-transform: uppercase;
    color: #2876b3;
    text-align: right;
    font-weight: bolder;
    font-family:"acumin-pro-condensed",sans-serif;
    line-height: 1.3;
}
.titre-edit{
    width: 300px;
   text-align: right;
   font-weight: lighter;
   font-size:12px;
   text-transform: uppercase;
   color: #ff7d79;
   line-height: 1.2;
   font-family:"acumin-pro-condensed",sans-serif;
}
.group{
    padding-top: 50px;
    padding-left: 50px;
    
}
.bar1{
    background: #5391c2;
    height: 2px;
    width:  90px;
    color: #5391c2;
    margin-left: 210px;
    margin-top:10px;
    
}
#a_la_une_large{
     position: relative;
    float: left;
    margin:  auto auto auto;
    
    width: 65%;
    font-family:"acumin-pro-condensed",sans-serif;
    overflow: hidden;
    height: 500px;
}
.title{
    text-transform: uppercase;
    color: #2876b3;
    text-align: right;
    font-weight: bolder;
    font-family:"acumin-pro-condensed",sans-serif;
    width: 200px;
    margin-left:85px;
    line-height: 1.3;
}
.h1_home{
    width: 285px;
   text-align: right;
   font-weight: lighter;
   font-size:10px;
   text-transform: uppercase;
   color: #ff7d79;
   line-height: 1.2;
   font-family:"acumin-pro-condensed",sans-serif;
   padding-top: 50px;
  
}

.h1_home1{
    width: 100%;
   text-align: center;
   font-weight: light;
   font-size:12px;
   text-transform: uppercase;
   color: #ff7d79;
   line-height: 1.2;
   font-family:"acumin-pro-condensed";
   padding-top: 50px;
  
}

.h2_home2{
    text-align: center;
    text-transform: uppercase;
     font-family:"mr-eaves-xl-modern";
     font-weight: bold;
     font-size: 20px;
     color: #fff;
}

.nouv_emission_contenue{
     margin-top: 100px;
    padding-left: 100px; 
    background-color: #2876b3;
    height: 300px;
    width: 100%
}


.spip_document_20969.spip_documents.spip_documents_left{
    
}
.font.b.titre{
    background-color: red;
}
.spacer{
     background: #5391c2;
    height: 2px;
    width:  46%;
    color: #5391c2;
    margin-left: 320px;
    margin-top:-90px;
    
}

.sur_club_contenue{
    width: 35%;
    background-color: #8080800d;
   height: 500px;
    float: right;
  
    line-height: 1.1;
    font-family:"acumin-pro-condensed",sans-serif;
}
.emissionsemaine {
    
    background-color: #2876b3;
    height: 654px;
}
.contenu_bloc_nouveautes{
        width: 282px;
    height: 100px;
    background-color: #2876b3;
    display: inline-table;
}

.sur_club_contenue{
    font-size: 14px;
    font-family:"acumin-pro-condensed",sans-serif;
    padding-left: 30px;
    text-align: left;
    padding-right: 140px;
    color: #60baff;
        height: 100%;
}  
.spacer1{
    background: #60baff;
    height: 2px;
    width:  100%;
    color: #60baff;
   margin-bottom: 30px;
    margin-top:7px;
}
.h1_club{
     
   text-align: left;
   font-weight: lighter;
   font-size:10px;
   text-transform: uppercase;
   color: #ff7d79;
   line-height: 1.2;
   font-family:"acumin-pro-condensed",sans-serif;
   padding-top: 50px;
}
.ndung{
   line-height: 1.1;
   color:yellow;
   font-weight: lighter;
}
.chaqueImage{
    
}
.lettre_box{
    color: yellow;
    text-transform: uppercase;
   
    height: 100px;
    text-align: left;
    float: right;
    font-size:15px;
    font-weight: lighter;
    line-height: 1.1;
    margin-left: -15px;
    width: 200px;
    
}
.add_box{
    width: 282px;
    height: 100px;
    display: inline-grid;
    margin-left: 85px;
}
.icon_box{
    width: 100%;
    height: 100%
}
.rub{
   
    font-family:"acumin-pro-condensed",sans-serif;
}
.rub li a {
     font-size: 13px;
     line-height: 1.2;
}

.mess{
     width: 300px;
    text-transform: uppercase;
    color: #2876b3;
    
    font-weight: bolder;
    font-family:"acumin-pro-condensed",sans-serif;
    line-height: 1.3;
}

.mess1{
    font-weight: lighter;
    color: #040c12;
    font-size: 18px;
    text-align: justify;
    /* float: right; */
    width: 95%;
    /* margin-right: 100px; */
    line-height: 1.1;
    /* margin-left: 20px; */
    padding-top: 40px;
    font-family: "acumin-pro-condensed",sans-serif;
    padding-bottom: 50px;
}

.titre-edit1{
    width: 300px;
    font-weight: lighter;
    font-size: 12px;
    text-transform: uppercase;
    color: #ff7d79;
    line-height: 1.2;
    font-family: "acumin-pro-condensed",sans-serif;
}

.group1{
    padding-top: 160px;
    padding-left: 290px;
}


.lettreInfo {
    width: 100%;
    height: 500px;
    background-image: url(img/rubon45.jpg);
    background-size: cover;
}

a.case {
    width: 200px;
    height: 100px;
}

.presse{
    width: 100%;
    height: 500px;
    background-image: url(img/rubon37.jpg);
    background-size: cover;
    background-position: bottom -120px left 0px;
}

.pressTitre{
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: #2876b3;
    text-align: center;
    font-weight: bolder;
    font-family:"acumin-pro-condensed",sans-serif;
    font-size: 36px;
    padding-right: 50px;
    padding-top: 290px;
}



.presse1 {
    margin-top: 50px;
    margin-left: 50px;
    height: 1350px;
}


.group2{
    width: 100%;
    height: 100%;
    
}
.bas_radio{
  margin-left: 25px;
  margin-right: 25px;
}
.depuis{
    color: white;
    font-size: 13px;
    font-weight: lighter;
    font-family:"acumin-pro-condensed",sans-serif;
    text-align: left;
}
.titre_radio{
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family:"acumin-pro-condensed",sans-serif;
    text-align: left;
    margin-bottom: 8px;
    margin-top: 8px;
}
.sous_radio{
   color: white;
    font-size: 13px;
    font-weight: lighter; 
    font-family:"acumin-pro-condensed",sans-serif;
    text-align: left;
}
.lettreInfo {
    width: 100%;
    height: 500px;
    background-image: url(img/rubon45.jpg);
    background-size: cover;
}

a.case {
    text-align: center;
    background-color: #c9cc38;
    color: white;
    padding-top: 40px;
    margin-top: 30px;
    margin-right: 30px;
}

.presse{
    width: 100%;
    height: 500px;
    background-image: url(img/rubon37.jpg);
    background-size: cover;
    background-position: bottom -120px left 0px;
}


.imagepresse {
    float: left;
    padding-right: 20px;
    width: 100px;
    height: 100px;
}


.quiSommesNous{
    width: 100%;
    height: 500px;
    background-image: url(img/quiSommesNous.jpg);
    background-size: cover;
   
}

.group2{
    width: 700px;
    height: 100%;
        margin: 100px;
    margin-left: 280px;
    
}

a.lien {
    display: inline;
}

.titre-edit2{
    width: 300px;
    font-weight: lighter;
    font-size: 12px;
    text-transform: uppercase;
    color: #ff7d79;
    line-height: 1.2;
    font-family: "acumin-pro-condensed",sans-serif;
}

.quiS{
        width: 300px;
    text-transform: uppercase;
    color: #2876b3;    
    font-weight: bolder;
    font-family: "acumin-pro-condensed",sans-serif;
    line-height: 1.3;
}

.messages {
    margin: 50px;
    margin-left: 80px;
    display: inline-block;
    
}

.titreLettre {
    color: #2876b3;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "acumin-pro-condensed";
}

.contenu2{
    margin:50px;
    height: 1300px;
}
.bar4 {
    background: #5391c2;
    height: 1px;
    width: 210px;
    color: #5391c2;
    /* margin-left: 210px; */
    margin-top: 5px;
}

.contenu_bloc_presse {
    width: 500px;
    display: inline-block;
    height: 70px;
}

span.titreImage {
    color: #60baff;
    font-weight: bold;
}

small_rubriques {
    color: #CACC3A;
    
}

    .autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
#ui-helper-hidden-accessible{
    border: 1px solid #999; background: #fff; cursor: default; overflow: auto;
}

.liens {
    text-transform: none;
    font-family: "acumin-pro-condensed";
}

.bar5 {
    background: #5391c2;
    height: 1px;
    width: 70px;
    color: #5391c2;
    margin-top: 5px;
}

.texte {
    font-family: "acumin-pro-condensed";
}

.bloc {
    margin-left: 85px;
}

.nousContacter1 {
    text-align: center;
    font-family: "acumin-pro-condensed";
}

.select{
    text-transform: uppercase;
    color: #2876b3;
    font-weight: bolder;
    font-family:"acumin-pro-condensed",sans-serif;
        display: inline;
        font-size: 24px;
}
.paragraphe {
    display: inline;
    font-size: 22px;
}

.submit{
    
}
.form-contact{
    width: 500px;
        margin: auto;
            font-size: 16px;
            margin-top: 50px;
            
}
.inp-nom, .inp-pren{
        display: inline-table;
        width: 49%;
}
.form-contact input[type=submit]{
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    vertical-align: bottom;
    cursor: pointer;
    text-transform: uppercase;
    background-color: white;
    color:#c9cc38;
        
}
.form-contact input[type=text] {
    padding-left: 20px;
}

.form-contact input {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    border-color: #f2f2f2;
    border-width: 1px;
    border-style: solid; 
}
#message {
    height: 200px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #f2f2f2;
    border-width: 1px;
    border-style: solid;
    resize: none;
    margin-bottom: 50px;
}
.spip_in{
    color: #2876B2;
}
#suggesstion-box{
    display: inline-grid;
    background-color: #5391c2;
    width: 495px;
    text-align: left;
    color: whitesmoke;
    position: absolute;
        z-index: 9999;
            margin-left: -510px;
                top: 44px;
                    opacity: 0.8;
}
/* missions en videos */
.videos1{
    height: 100%;
    width: 100%;
}
.img_video{
    margin-top: 100px;
   margin-left: 100px;
    height: 90%;
}
.img_video1{
    
    width: 350px;
    float:left;
    position: relative;
    height: 250px;
    margin-left: 50px;
    
}
.missions_en_video{
    font-family:'acumin-pro-condensed',sans-serif; margin-top:24px; text-decoration:none; color: #2876b3;text-transform: uppercase; 
    font-weight: bold;
    margin-top: 150px;
    margin-left: 100px;
        
}
.bar_video{
     background: #5391c2;
    height: 2px;
    width:  90px;
    color: #5391c2;
    margin-left: 100px;
    margin-top:10px;
}
.bar_img_video{
       background: #5391c2;
    height: 2px;
    width:  90px;
    color: #5391c2;
    
    margin-top:4px;
}